extends ./../document

block layout
  body(class="d-flex h-100 flex-column flex-nowrap")

    nav(class="navbar navbar-expand-md navbar-light bg-light fixed-top")
      .container
        a(class="navbar-brand", href="/")= company.brand
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
          i(class="fa fa-bars")

        #navbarCollapse.collapse.navbar-collapse
          if navItems.left && navItems.left.length
            ul(class="navbar-nav mr-auto")
              each navItem in navItems.left
                li(class="nav-item")
                  a(class="nav-link" href= navItem.path)= navItem.name.replace(/^\w/, c => c.toUpperCase())
          .form-inline.ml-3
            a(href="/admin", class="btn btn-sm btn-outline-primary") Admin
          if navItems.right && navItems.right.length
            ul(class="navbar-nav ml-auto")
              each navItem in navItems.right
                li(class="nav-item")
                  a(class="nav-link" href= navItem.path)= navItem.name.replace(/^\w/, c => c.toUpperCase())

    main(class="flex-grow-1")
      block content

    footer(class="bg-secondary")
      .py-3.container.d-flex.flex-column.flex-md-row.text-center.justify-content-center
        a(class="mx-2 text-light", href="/privacy") Privacy
        a(class="mx-2 text-light", href="/terms-and-conditions") Terms & Conditions
        a(class="mx-2 text-light", href="/general-data-protection-regulation") GDPR Compliance
        span(class="mx-2 text-light") ©#{company.established} #{company.name}