.form-group
  label(for="title") Section Name
  input.form-control(id="name", name="name", value=jumbotron.name)
.form-group
  label(for="title") Title
  input.form-control(id="title", name="title", value=jumbotron.title)
.form-group
  label(for="text") Subtext
  input.form-control(id="text", name="text", value=jumbotron.text)
.form-group
  label(for="title") Button Text
  input.form-control(id="button_text", name="button.text", value=jumbotron.button.text)
.form-group
  label(for="text") Button Link
  input.form-control(id="button_link", name="button.link", value=jumbotron.button.link)